.one {
    float: left;
    width: 33%;
    background-color: red;
    height: 300px;
}

.two {
    float: left;
    width: 33%;
    background-color: teal;
    height: 300px;
}

.three {
    float: left;
    width: 33%;
    background-color: purple;
    height: 300px;
}
